.page-section {
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: none;
    transition-timing-function: ease;
    animation: animate__backInLeft;
    animation-duration: 2s;
}

.rowFive {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* @keyframes blog-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } */