.zaglavie {
    font-weight: bold;
    text-align: center;
    margin-left: 5rem;
}

.ramka {
    margin-top: 16px;
    margin-bottom: 16px;
    height: auto;
    background-color: #F6F5FC;
    color: #645F88;
    border-radius: 30px;
    z-index: 10;
}

.paragraf {
    text-align: center;
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    float: inline-start;
}

