.pageAnimation {
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: none;
    transition-timing-function: ease;
    animation-name: zoomIn;
    animation-duration: 3s;
}

.rowFive {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
