.carousel img {
    height: 150px;
    width: 150px;
    margin-left: 10px;
    display: block;
    margin-bottom: 2em; 
    align-items: center;
    border: none;
    object-fit:fill;
    
}

.carousel {
    transition-delay: 0s, 0s, 0s, 0s, 0s;
    transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 0.3s;
    transition-timing-function: ease, ease, ease, ease, ease;
    color: rgb(93, 99, 113)
}